@import url("styes/header.css");

:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --azul-degrade: #326589;
    --laranja: #EB9B00;
    --fonte-prinipal: "Poppins"
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-prinipal);
    font-size: 16px;
    font-weight: 400;
}

