@import url("styes/header.css");

:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --azul-degrade: #326589;
    --laranja: #EB9B00;
}

body {
    background-color: var(--cor-de-fundo);
}

