.carrossel-titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font: size 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card-1{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.card-2{
    display: flex;
}

.botões{
    display: flex;
    justify-content: space-between;
}

.card{
    border-radius: 10px;
    background: 1em;
    padding: 1em;
}

.card-titulo-1{
    color: var(--laranja);
    font-weight: 700;
}

.card-titulo-2{
    color:var(--azul-degrade);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.botões-itens {
    margin: 0 0.5em;
    }
    
    .botão-link {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    }