.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.cabecalho-titulo {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho-titulo {
        display: flex;
    }
        .cabecalho-imagem-transparente{
            display: none;
        }
    
}